@page "/"

<PageTitle>Ticket Index</PageTitle>

<h1>Ticket Index</h1>

<p>¡Bienvenido/a a nuestra página web de registro y validación de tickets! Aquí encontrarás una solución rápida y sencilla para validar los tickets de tus eventos o servicios de transporte. Con nuestro sistema de registro, podrás asegurarte de que cada ticket es auténtico y válido, evitando fraudes y problemas de seguridad. Además, nuestro proceso de registro es totalmente digital, lo que significa que podrás gestionar tus tickets de manera eficiente y desde cualquier lugar del mundo. ¡Registra tus tickets hoy mismo y ten la tranquilidad de saber que tus eventos y servicios están protegidos!</p>
<br />
<div class="text-center">
    <img src="/img/fondo.jpg" class="rounded" alt="..." width="450">
</div>
